<table>
    <tr>
        <td><a href="{{site.baseurl}}/csa/FRQ/Homepages">Review Frq Teamteach</a></td>
        <td><a href="{{site.baseurl}}/recursion/p3_recursion_part2">Recursion Hw</a></td>
        <td><a href="{{site.baseurl}}/methods_per3/homework">Methods hw</a></td>
        <td><a href="{{site.baseurl}}/classeshw">Classes hw</a></td>
        <td><a href="{{site.baseurl}}/teamteach/array/homework">Array hw</a></td>
        <td><a href="{{site.baseurl}}/teamteach/array/homework">2d Array hw</a></td>
       
        
    </tr>
</table>