
<table class="navigation-table">
    <tr>
        <td><a href="{{site.baseurl}}/devops/tools/home">Home</a></td>
        <td><a href="{{site.baseurl}}/devops/tools/accounts">Accounts</a></td>
        <td><a href="{{site.baseurl}}/devops/tools/setup">Setup</a></td>
        <td><a href="{{site.baseurl}}/devops/tools/verify">Verify</a></td>
        <td><a href="{{site.baseurl}}/devops/github/pages/play">Play</a></td>
        <td><a href="{{site.baseurl}}/devops/hacks">Hacks</a></td>
    </tr>
</table>

<style>
.navigation-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
}

.navigation-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.navigation-table a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px;
}

.navigation-table a:hover {
    background-color: #212121;
}

.navigation-table{
    box-shadow: 5px 10px #1e00ff;
}
</style>

