<table>
    <tr>
        <td><a href="{{site.baseurl}}/csa/unit1/homework/">Unit 1 Primitive Types</a></td>
        <td><a href="{{site.baseurl}}/csa/unit2/homework/">Unit 2 Using Objects</a></td>
        <td><a href="{{site.baseurl}}/csa/unit3/homework/">Unit 3 Boolean Expressions and if Statements</a></td>
        <td><a href="{{site.baseurl}}/csa/unit4/homework/">Unit 4 Iteration</a></td>
        <td><a href="{{site.baseurl}}/csa/unit5/homework/">Unit 5 Writing Classes</a></td>
        <td><a href="{{site.baseurl}}/csa/unit7/homework/">Unit 7 ArrayList</a></td>
        <td><a href="{{site.baseurl}}/csa/unit8/homework/">Unit 8 2D Array</a></td>
        <td><a href="{{site.baseurl}}/csa/unit9/homework/">Unit 9 Inheritance</a></td>

    </tr>
</table>